In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
df_crime = pd.read_excel('/Users/Maryam/Desktop/Thinkful/projects/table_8_offenses_known_to_law_enforcement_new_york_by_city_2013.xls',
                             skiprows=4, skip_footer=5)

In [5]:
df_crime_clean = df_crime.drop('Rape\n(revised\ndefinition)1', axis=1)
df_crime_clean.columns = df_crime_clean.columns.str.replace('\n',' ')
df_crime_clean = df_crime_clean.rename(columns={'Murder and nonnegligent manslaughter':'Murder',
                              'Rape (legacy definition)2':'Rape',
                              })

In [8]:
dfc = df_crime_clean[['Population', 'Murder', 'Robbery','Property crime']]

In [10]:
dfc.head()

   Population  Murder  Robbery  Property crime
0        1861       0        0              12
1        2577       0        0              24
2        2846       0        0              16
3       97956       8      227            4090
4        6388       0        4             223

In [11]:
dfc['Murder'] = np.where(dfc['Murder']>0, 1, 0)
dfc['Robbery'] = np.where(dfc['Robbery']>0, 1, 0)
dfc['pop2'] = dfc['Population']*dfc['Population']

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [12]:
dfc

     Population  Murder  Robbery  Property crime         pop2
0          1861       0        0              12      3463321
1          2577       0        0              24      6640929
2          2846       0        0              16      8099716
3         97956       1        1            4090   9595377936
4          6388       0        1             223     40806544
5          4089       0        1              46     16719921
6          1781       0        0              10      3171961
7        118296       1        1            2118  13993943616
8          9519       0        1             210     90611361
9         18182       0        1             405    330585124
10         2053       0        0              39      4214809
11         4523       0        1              33     20457529
12          658       0        0               2       432964
13         2522       0        0               5      6360484
14        27270       1        1             859    743652900
15         3333       0        1              25     11108889
16         7473       0        1              88     55845729
17         5418       0        1              94     29354724
18        15374       0        1             559    236359876
19         5733       0        1             191     32867289
20        17627       0        1             156    310711129
21        34243       0        1             442   1172583049
22        46304       1        1            2349   2144060416
23         1410       0        0              14      1988100
24        12001       0        0              99    144024001
25         1022       0        0               4      1044484
26         2325       0        0              24      5405625
27         2054       0        0              20      4218916
28         2065       0        1              31      4264225
29         2358       0        0              13      5560164
..          ...     ...      ...             ...          ...
316        1820       0        1              66      3312400
317        6578       0        0              35     43270084
318        3642       0        0              83     13264164
319         615       0        0               0       378225
320       12195       0        1             437    148718025
321       61686       1        1            2528   3805162596
322       27980       0        1             571    782880400
323        6887       1        1             142     47430769
324       27940       0        1             767    780643600
325        3012       0        0              68      9072144
326        3453       0        0              78     11923209
327        5828       0        1              58     33965584
328        8392       0        0              59     70425664
329        5175       0        1             194     26780625
330       28179       0        1            1165    794056041
331       10245       1        1             242    104960025
332        1862       0        0              92      3467044
333        4337       0        1              54     18809569
334       43777       0        1             469   1916425729
335        1797       0        0              25      3229209
336        4574       0        0             164     20921476
337        1732       0        0              44      2999824
338       44821       1        1             896   2008922041
339        2604       0        0              62      6780816
340       57559       1        1            1232   3313038481
341        3733       0        0              36     13935289
342        9141       0        0              77     83557881
343       10685       0        1             541    114169225
344         829       0        0              17       687241
345        5931       0        0              58     35176761

[346 rows x 5 columns]